/* Wedit generated resource file */
#include <windows.h>
#include "resource.h"


ID_DLG_TAB_MAIN DIALOG 10, 10, 180, 125
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
    LTEXT           "Encryption:", 101, 5, 5, 40, 12
    COMBOBOX        ID_ENCRYPTION, 50, 5, 125, 60, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    AUTOCHECKBOX    "Always Flush Log", ID_CH_FLUSH, 5, 25, 75, 10
    PUSHBUTTON      "Flush Log", ID_BT_FLUSH, 115, 25, 60, 14
    AUTOCHECKBOX    "Verbose Logging", ID_CH_VERBOSE, 5, 45, 70, 10
    PUSHBUTTON      "Dump Objects", ID_BT_DUMP, 115, 45, 60, 14
    PUSHBUTTON      "Save Config", ID_BT_SAVE, 115, 65, 60, 14
    PUSHBUTTON      "Buy/Sell", ID_BT_SHOP, 5, 65, 65, 14
    LTEXT           "Version:", 115, 5, 105, 30, 12
    LTEXT           "-", ID_ST_VERSION, 35, 105, 65, 12
END

ID_DLG_CHOOSESHOP DIALOG 5, 20, 180, 180
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Choose Shopping List"
FONT 8, "Helv"
BEGIN
    GROUPBOX        "", 101, 5, 5, 170, 100
    GROUPBOX        "", ID_CH_VERBOSE, 5, 105, 170, 45
    LISTBOX         ID_LB_SHOPLISTS, 10, 30, 110, 75, LBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Edit", ID_BT_EDITLIST, 125, 30, 45, 14
    PUSHBUTTON      "Shop", ID_BT_SHOPLIST, 125, 50, 45, 14
    PUSHBUTTON      "Delete", ID_BT_DELETELIST, 125, 70, 45, 14
    EDITTEXT        ID_EB_CREATENAME, 40, 130, 80, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Create", ID_BT_CREATE, 125, 130, 45, 14
    PUSHBUTTON      "Cancel", IDCANCEL, 70, 155, 40, 14
    LTEXT           "Name:", ID_BT_SAVE, 10, 130, 25, 12
    LTEXT           "Use an existing list:", ID_BT_SHOP, 10, 15, 70, 12
    LTEXT           "Create a new list:", 115, 10, 115, 60, 12
END

ID_DLG_EDITLIST DIALOG 10, 15, 275, 130
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Edit Shopping List"
FONT 8, "Helv"
BEGIN
    LTEXT           "List Name:", 201, 5, 5, 40, 12
    LTEXT           "?", ID_ST_LISTNAME, 45, 5, 60, 12
    LISTBOX         ID_LB_SHOPLIST, 5, 20, 100, 85, WS_VSCROLL | WS_TABSTOP
    DEFPUSHBUTTON   "<- Add", ID_BT_ADDSOME, 110, 20, 50, 14
    PUSHBUTTON      "Delete ->", ID_BT_DELETE, 110, 40, 50, 14
    PUSHBUTTON      "Done", IDCANCEL, 110, 60, 50, 14
    LISTBOX         ID_LB_VENDORLIST, 165, 20, 100, 85, WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Add:", ID_BT_ADDNAME, 10, 105, 40, 14
    LTEXT           "Name:", 212, 60, 105, 20, 12
    EDITTEXT        ID_EB_ADDNAME, 90, 105, 55, 12, ES_AUTOHSCROLL
    LTEXT           "Quantity:", 210, 165, 105, 30, 12
    EDITTEXT        ID_EB_QUANTITY, 200, 105, 65, 12, ES_AUTOHSCROLL
    LTEXT           "Vendor List:", 214, 165, 5, 50, 12
END

ID_DLG_BUYSELL DIALOG 6, 18, 159, 172
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Buy or Sell:"
FONT 8, "Helv"
BEGIN
    LTEXT           "NPC Name:", 301, 10, 10, 40, 12
    EDITTEXT        ID_EB_NPCNAME, 55, 10, 95, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Buy", ID_BT_BUY, 10, 30, 50, 14
    PUSHBUTTON      "Sell", ID_BT_SELL, 100, 30, 50, 14
    LTEXT           "Results:", 305, 10, 65, 35, 12
    LISTBOX         ID_LB_RESULTS, 10, 80, 140, 65, WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Done", ID_BT_DONEBUY, 60, 150, 45, 14
    PUSHBUTTON      "Cancel", ID_BT_CANCEL, 100, 50, 50, 14, WS_DISABLED
    LTEXT           "Status:", 309, 10, 50, 25, 12
    LTEXT           "-", ID_ST_STATUS, 35, 50, 60, 12
END

ID_DLG_TAB_WEAPONS DIALOG 6, 15, 180, 40
STYLE WS_CHILD
FONT 8, "Helv"
BEGIN
    PUSHBUTTON      "Arm", ID_BT_ARM, 10, 15, 40, 14
    PUSHBUTTON      "Disarm", ID_BT_DISARM, 70, 15, 40, 14
    PUSHBUTTON      "Set Arms", ID_BT_SETARM, 130, 15, 40, 14
END

ID_DLG_TAB_CLOTHING DIALOG 6, 35, 180, 110
STYLE WS_CHILD | WS_VISIBLE
FONT 8, "Helv"
BEGIN
    LISTBOX         ID_LB_DRESS, 10, 10, 100, 75, WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "Dress", ID_BT_DRESS, 120, 10, 50, 14
    PUSHBUTTON      "Delete", ID_BT_UNSETDRESS, 120, 35, 50, 14
    PUSHBUTTON      "Set Current", ID_BT_SETDRESS, 120, 60, 50, 14
    LTEXT           "Name:", 605, 10, 85, 20, 12
    EDITTEXT        ID_EB_DRESSNAME, 35, 85, 75, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Add", ID_BT_ADDDRESS, 120, 85, 50, 14
END

ID_DLG_TAB_USE DIALOG 5, 15, 180, 125
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
    LISTBOX         ID_LB_USE, 5, 10, 110, 95, LBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Graphic:", 702, 120, 10, 30, 12
    EDITTEXT        ID_EB_GRAPHIC, 120, 25, 55, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Save", ID_BT_SAVEUSE, 120, 45, 55, 14
    PUSHBUTTON      "From Target", ID_BT_TARGET, 120, 85, 55, 14
    LTEXT           "Name:", 704, 5, 105, 20, 12
    EDITTEXT        ID_EB_USENAME, 35, 105, 80, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "New", ID_BT_NEWUSE, 120, 105, 55, 14
    PUSHBUTTON      "Delete", ID_BT_DELETEUSE, 120, 65, 55, 14
END

ID_DLG_TAB_DISPLAY DIALOG 6, 18, 166, 178
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
    AUTOCHECKBOX    "Fix UO caption displaying only first letter",
                    ID_CH_DISPLAY_FIX,10,2,152,10
    AUTOCHECKBOX    "Hitpoints", ID_CH_DISPLAY_HP, 10,10+7,76,10
    AUTOCHECKBOX    "Mana", ID_CH_DISPLAY_MANA, 90, 10+7, 76, 10
    AUTOCHECKBOX    "Stamina", ID_CH_DISPLAY_STAMINA, 10, 20+7, 76, 10
    AUTOCHECKBOX    "Armor Rating", ID_CH_DISPLAY_ARMOR, 90, 20+7, 63, 10
    AUTOCHECKBOX    "Weight", ID_CH_DISPLAY_WEIGHT, 10, 30+7, 76, 10
    AUTOCHECKBOX    "Gold", ID_CH_DISPLAY_GOLD, 90, 30+7, 76, 10
    AUTOCHECKBOX    "Bloodmoss", ID_CH_DISPLAY_BM, 10, 45+7, 76, 10
    AUTOCHECKBOX    "Black Perl", ID_CH_DISPLAY_BP, 90, 45+7, 58, 10
    AUTOCHECKBOX    "Garlic", ID_CH_DISPLAY_GA, 10, 55+7, 76, 10
    AUTOCHECKBOX    "Ginsang", ID_CH_DISPLAY_GS, 90, 55+7, 66, 10
    AUTOCHECKBOX    "Mandrake Root", ID_CH_DISPLAY_MR, 10, 65+7, 76, 10
    AUTOCHECKBOX    "Nightshade", ID_CH_DISPLAY_NS, 90, 65+7, 60, 10
    AUTOCHECKBOX    "Sulfurous Ash", ID_CH_DISPLAY_SA, 10, 75+7, 76, 10
    AUTOCHECKBOX    "Spider's Silk", ID_CH_DISPLAY_SS, 90, 75+7, 59, 10
    AUTOCHECKBOX    "Volcanic Ash", ID_CH_DISPLAY_VA, 10, 90+7, 76, 10
    AUTOCHECKBOX    "Eyes of Newt", ID_CH_DISPLAY_EN, 90, 90+7, 57, 10
    AUTOCHECKBOX    "Wyrm's Heart", ID_CH_DISPLAY_WH, 10, 100+7, 76, 10
    AUTOCHECKBOX    "Fertile Dirt", ID_CH_DISPLAY_FD, 90, 100+7, 63, 10
    AUTOCHECKBOX    "Blackmoor", ID_CH_DISPLAY_BR, 10, 110+7, 76, 10
    AUTOCHECKBOX    "Heal Potions", ID_CH_DISPLAY_H, 10, 125+7, 76, 10
    AUTOCHECKBOX    "Cure Potions", ID_CH_DISPLAY_C, 90, 125+7, 61, 10
    AUTOCHECKBOX    "Mana Potions", ID_CH_DISPLAY_M, 10, 135+7, 76, 10
    AUTOCHECKBOX    "Lava Bombs", ID_CH_DISPLAY_L, 90, 135+7, 61, 10
    AUTOCHECKBOX    "Bandages", ID_CH_DISPLAY_B, 10, 150+7, 76, 10
    AUTOCHECKBOX    "Arrows", ID_CH_DISPLAY_AR, 10, 160+7, 76, 10
    AUTOCHECKBOX    "Bolts", ID_CH_DISPLAY_BT, 90, 160+7, 76, 10
END

ID_DLG_TAB_OBJECT DIALOG 5, 15, 180, 125
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
    LISTBOX         ID_LB_OBJECT, 5, 10, 110, 95, LBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Serial:", 902, 120, 10, 30, 12
    EDITTEXT        ID_EB_SERIAL, 120, 25, 55, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Save", ID_BT_SAVEOBJ, 120, 45, 55, 14
    PUSHBUTTON      "From Target", ID_BT_TARGETOBJ, 120, 85, 55, 14
    LTEXT           "Name:", 904, 5, 105, 20, 12
    EDITTEXT        ID_EB_OBJNAME, 35, 105, 80, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "New", ID_BT_NEWOBJ, 120, 105, 55, 14
    PUSHBUTTON      "Delete", ID_BT_DELETEOBJ, 120, 65, 55, 14
END

ID_DLG_TAB_HOTKEY DIALOG 5, 15, 180, 125
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
    LISTBOX         ID_LB_HOTKEY, 5, 10, 42, 95, LBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Command:", 1002, 49, 12, 34, 12
    EDITTEXT        ID_EB_COMMAND, 49, 25, 126, 12, ES_AUTOHSCROLL
    PUSHBUTTON      "Save", ID_BT_SAVEHOTKEY, 49, 55, 125, 14
    LTEXT           "Hotkey:", 1004, 7, 107, 27, 12
//    EDITTEXT        ID_EB_HOTKEY, 35, 105, 33, 12, ES_AUTOHSCROLL
    CONTROL         "HotKey1",ID_EB_HOTKEY,"msctls_hotkey32",WS_BORDER | 
                    WS_TABSTOP,35, 105, 33+50, 12,
    PUSHBUTTON      "New", ID_BT_NEWHOTKEY, 71+50, 104, 104-50, 14
    PUSHBUTTON      "Delete", ID_BT_DELETEHOTKEY, 49, 74, 125, 14
    LTEXT           "Hotkey:", 1009, 50, 40, 28, 12
    EDITTEXT        ID_EB_HOTKEY_TEXT, 78, 39, 96, 12, ES_AUTOHSCROLL | WS_DISABLED | NOT WS_TABSTOP
END

ID_DLG_TAB_EXTERNAL DIALOG 5, 15, 180, 125
STYLE WS_CHILD | WS_CLIPSIBLINGS
FONT 8, "Helv"
BEGIN
END
